<h1>Listing gebruikers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gebruikers.each do |gebruiker| %>
  <tr>
    <td><%= link_to 'Show', gebruiker %></td>
    <td><%= link_to 'Edit', edit_gebruiker_path(gebruiker) %></td>
    <td><%= link_to 'Destroy', gebruiker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gebruiker', new_gebruiker_path %>
